body {
    font-family: 'EB Garamond';
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-family: inherit;
    background-color: white;
    color: #14579d;
    border-color: #14579d;
    font-size: larger;
    border-style: solid;
    border-width: medium;
    padding: 0 20px;
}

button:hover {
    background-color: #5f6cad;
    color: white;
}

.gameStart {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #14579d;
    font-size: x-large;
}

.gamePlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #14579d;
}

.playerWin,
.playerLoss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #14579d;
    font-size: x-large;
}

.hidden {
    display: none;
}